* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: arial, helvetica, "sans serif";
    margin: 0px;
}

#header {
    width: 100%;
    height: 120px;
}

#upperHeader {
    background: url(assets/images/header_bg.jpg);
    background-repeat: no-repeat;   
    background-color: #004489;
    background-position: right center;
    margin: auto;
    height: 80px;
}

#upperHeader image {
    float: right;
}

#lowerHeader {
    background-color: #013A75;
    margin: auto;
    height: 40px;
}

#headerContainer {
    width: 1280px;
    height: 100%;
    margin: auto;
}
